.content-padding {
	overflow-y: auto
}

.container {
  font-size: 14px;
  height: 100%;
  left: 10px;
  margin: auto;
  padding: 0 0 150px 0;
  position: relative;
  width: 690px;
}

@media only screen and (min-width: 1100px) {
  .container {
    width: 920px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1150px;
  }
}

.pantheon-logo {
	text-align: center;
	margin-top: 20px;	
	margin-bottom: 40px	
}


.quilt {
	display: inline-block;
}

.stream {
	display: block;
	width:100%;
}

.roleCard .inner-margin {
	background-color: #fff;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07);
	color: #444;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 208px;
	cursor: pointer;
}
.streamMainCard:hover {
	background-color: #eef6ff;
}

.inner-margin:hover {
	border-color: #679fff;
	box-shadow: 0px 1px 0px #ccdfff;
	outline: none;
	border-style: solid;
	border-width: 1px;
}

.roleImg {
	background-repeat: no-repeat;
	background-size: 208px auto;
	border: none;
	display: block;
	height: 156px;
	position: relative;
	width: 208px;
	height: 260px;
}

.roleCard .roleName {
	font-weight: 500;
	margin-bottom: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.roleCard .roleDescription{
	padding: 0 10px;
	font-size: 10px;
	color: #ccc;
	text-align: center
}

.roleCard .editBar {
	position: absolute;
	right: 5px;
	top: 32%;
	display: inline-block;
	float: right;
	opacity: 0.3;
}

.editBar:hover {
	opacity: 0.8;
}

.overflowMenu {
	position: absolute;
	top: inherit;
	right: -10px;
	top: 55px;
	background: rgba(255, 255, 255, 1);
}

.overflowMenu a {
	font-size: 12px;
	display: block
}

.fab {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background:url(../assets/images/moon.png) no-repeat center !important
}
.toast {
	position: absolute;
	right: 1%;
	background-color: firebrick;
	opacity: 0.7;
	max-width: 19%;
}
#addRoleCard.stream .inner-margin {
	height: inherit;
}
#addRoleCard {
	vertical-align: top;
	margin-right: -5px;
}
md-backdrop.md-opaque.md-default-theme {
	background-color: rgba(0,0,0,0);
}