<md-dialog>
  <md-content layout="vertical">
    <div layout="horizontal" layout-align="center">
      <input class="bigInput" ng-model="role.name" flex disabled></input>
      <img src="assets/images/avatar.png" width="100" height="100">
    </div>
    <md-checkbox ng-model="role.recommend">Recommend</md-checkbox>
    <label for="p1">Nym ID</label>
      <textarea id="p1" ng-model="role.nymId" placeholder="No Nym ID" disabled></textarea>
      <label for="p2">Public Key</label>
      <textarea id="p1" ng-model="role.publicKey" placeholder="No Public Key" disabled></textarea>
  </md-content>
  <div class="md-actions" layout="horizontal" layout-align="end">
    <md-button id="pingButton" class="md-primary" ng-click="role.ping()">
      Ping
    </md-button>
    <md-button id="openChatButton" class="md-primary" ng-click="role.openChat()">
      Open Chat
    </md-button>
    <span flex></span>
    <md-button id="closeButton" ng-click="close()">
      Close
    </md-button>
    <md-button id="saveButton" class="md-primary" ng-click="editPeer()">
      Save
    </md-button>
  </div>
    <!--<md-input id="roleNameInput" type="text" ng-model="roleName" placeholder="Peer Username"></md-input>
  </div>
  <div class="dialog-actions" layout="horizontal" layout-align="end">
    <md-button id="closeButton" ng-click="close()">
      Close
    </md-button>
    <md-button id="saveButton" class="md-button-colored" ng-click="addPeer(roleName)">
      Add Peer
    </md-button>
  </div>-->
</md-dialog>